{% extends 'base.html' %}
{% block content %}
<head>
    <style>
        body {
              background-color: whitesmoke;
          }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h1>TITLE: {{blog.title}}</h1>
            <hr>
            <br>
            <p>{{blog.blog_post}}</p>
            <hr>
            {% if current_user.is_authenticated%}
            <button class="btn btn-danger"><a href="{{url_for('main.delete_blog',id=blog.id)}}">Delete Blog</a></button>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class-"col-md-3"></div>
        <div class="col-md-6">
            {% import 'bootstrap/wtf.html' as wtf %}
            {{wtf.quick_form(comment_form)}}
            <br>
            <h3>COMMENTS</h3>
            <hr>
        </div>
        <div class-"col-md-3"></div>
        </div>
        {% for one_comment in blog_comments %}
        <div class="row">       
            <div class="col-md-6">
            <p>{{one_comment.name}} says: {{one_comment.comment_content}}</p>
            </div>
            <div class="col-md-3">
            {% if current_user.is_authenticated%}
            <button class="btn btn-danger"><a href="{{url_for('main.delete_comment',id=one_comment.blog_id,id_comment=one_comment.id)}}">Delete Comment</a></button>
            {% endif %}
            </div>
            <div class="col-md-3"></div>
             <hr>
        </div>
        {% endfor %}
        </div>
        </body>
{% endblock %}