{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h1>TITLE: {{blog.title}}</h1>
            <hr>
            <br>
            <p>{{blog.blog_post}}</p>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            {% import 'bootstrap/wtf.html' as wtf %}
            {{wtf.quick_form(comment_form)}}
            <br>
            <h3>COMMENTS</h3>
            <hr>
            {% for one_comment in blog_comments %}
            <i><sub>{{one_comment.name}} says:</sub></i>
            {{one_comment.comment_content}}
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}