<head>
    <style>
        .navbar {
          background-color: silver;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('main.index')}}">PERSONAL BLOG</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right">
                <li><a href="{{url_for('main.index')}}">HOME</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.create_blogpost')}}">Create Blog</a></li>
                <li style="color:white;padding:15px;">{{current_user.username}}</li>
                <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li><a href="{{url_for('auth.register')}}">Register</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                <li class="divider"></li>
                {%endif%}
        </ul>
      </ul>
</nav>
</body>